*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body{
display: flex;
width: 1440px;
  height: 1024px;
  flex-wrap: wrap;
  align-content: center;
  overflow: scroll;  
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

[class*="col-"] {
    float: none;
  }
/* for desktop*/
  .col-1 {width: 26%;}
  .col-2 {width: 50%;}
  .col-3 {width: 75%;}
  .col-4 {width: 100%;}

.container {
    border-radius: 20px;
    display: block;
    background-color: hsl(0, 0%, 100%);
    width: 443px;
    height: 733px;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.qr {
    border-radius: 20px;
    display: block;
    background-color: hsl(212, 45%, 89%);
    width:400px;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin-top: 21.5px;
    margin-left: 21.5px;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 20px;
}

p {
    font-family: Outfit, sans-serif;
    font-size: 15px;
}

.improv {
    text-align: center;
    color: hsl(218, 44%, 22%); 
    font-weight: 700;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 7px;
    font-size: 30px;
}
p.scan {
    text-align: center;
    color: hsl(216, 2%, 59%);
    font-weight: 400;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 25px;
}

footer {
    position:fixed;
    bottom:0;
    left: 0;
    text-align: center;
    justify-content: center;
}
.attribution{
    text-align: center;
    padding: 3px;
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}